<!DOCTYPE html>
<html>
<head>
    <title>Add a New Pet</title>
</head>
<body>
    <h1>CAdd a New Pet</h1>

    <form method="POST" enctype="multipart/form-data">
        <label>Breed:</label><br>
        <input type="text" name="breed"><br><br>
      
        <label>Color:</label><br>
        <input type="text" name="color"><br><br>
      
        <label>Age:</label><br>
        <input type="text" name="age"><br><br>
      
        <label>Upload Image:</label><br>
        <input type="file" name="image"><br><br>
      
        <input type="submit" value="Add Pet">
      </form>
</body>
</html>
