<!DOCTYPE html>
<html>
<head>
  <title>Adoptable Pets</title>
</head>
<body>
  <h1>Meet Our Pets!</h1>
  {% for pet in pets %}
    <div style="margin-bottom: 20px;">

      <img src="{{ url_for('static', filename=pet.image) }}" alt="Pet Image" width="200" />
<!-- hi -->

      <!-- <img src="/static/golden.jpg" alt="Pet Image" width="200" />
      <img src="/static/tabby.jpg" alt="Pet Image" width="200" />
      <img src="/static/bulldog.jpg" alt="Pet Image" width="200" /> -->
      <h3>{{ pet.breed }} ({{ pet.age }})</h3>
      <p>Color: {{ pet.color }}</p>
      <a href="/name/{{ pet.id }}">
        <button>Name Me!</button>
      </a>
    </div>
  {% endfor %}
</body>
</html>
